# Ignore backup files
*.bak
*.bk

# Ignore log and temp files
*.log
*.tmp

# Ignore unnecessary Cargo files
Cargo.lock
target

# Ignore LaTeX build files
*.aux

# Ignore build output
docs/build

# Ignore racer files
._*
